[Unit]
Description=Fabric Ordering3 Service
After=network.target

[Service]
Type=simple
Environment="FABRIC_CFG_PATH=$PWD/config/ordererOrg3"
ExecStart=/bin/bash -c "$PWD/bin/fabric/orderer start"
WorkingDirectory=$PWD
Restart=on-failure

[Install]
WantedBy=multi-user.target